<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>DDD</title>
  </head>
  <body>
    <nav class="red accent-4">
      <div class="nav-wrapper">
        <a href="{{url_for('home')}}" class="brand-logo center">Developer Deep Dives</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('register')}}">Register</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content%}{% endblock %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
